header {
  width: 100%;
  height: 70px;
  background-color: var(--ocean);

  display: flex;
  justify-content: center;
  align-items: center;

  .nav-wrapper {
    max-width: 1400px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-container {
      display: flex;
      align-items: center;
      gap: 100px;
      width: 100%;

      nav {
        a {
          font-size: 20px;
          letter-spacing: 4px;
          color: var(--light);
          text-decoration: none;
        }
      }

      .search-wrapper {
        position: relative;
        width: 100%;

        .search {
          background-color: var(--light);
          border: none;
          border-radius: 5px;
          padding: 10px 10px 10px 30px;
          outline: none;
          max-width: 400px;
          width: 100%;
        }

        .search-icon {
          position: absolute;
          left: 5px;
          top: 6px;
        }
      }
    }
  }

  .profile {
    display: flex;
    gap: var(--gap2x);

    .profile-name {
      display: flex;
      align-items: center;
      color: var(--light);
      gap: 3px;
      text-transform: none;

      svg {
        color: var(--light);
      }
    }
  }
}
